body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.6;
  scroll-behavior: smooth;
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg-1 {
  background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.bg-2 {
  background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?q=80&w=1120&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.content {
  /* rgba: red, green, blue, alpha */
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 40px;
  border-radius: 15px;
  width: 60%;
}

.content h1 {
  font-size: 3rem; /* 1rem = 16px */
  margin: 0;
}

.normal-section {
  padding: 80px 20px;
  background-color: rgb(153, 153, 155);
  text-align: center;
}

.normal-section1 {
  padding: 80px 20px;
  background-color: rgb(202, 173, 135);
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  transition: 0.7s;
  margin: 0 auto;
}

.gallery img:hover {
  transform: scale(1.55);
}

/* Ukuran HP */
@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

h1 {
  font-size: 2rem;
  color: rgb(64, 64, 68);
}

p {
  font-size: 20px;
  color: rgb(6, 7, 0);
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  
}

h3 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.btn-contact {
  padding: 12px 25px;
  background-color: rgb(77, 77, 78);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

footer {
  background-color: #ffebb3;
  text-align: center;
  padding: 20px 0;
  color: blue;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10;
}

.contact-form input,
textarea {
  padding: 10px;
  border: 1px solid rgb(117, 3, 117);
  border-radius: 5px;
}

.contact-form button {
  background: rgb(86, 197, 86);
  color: black;
  padding: 8px;
  border: none;
  cursor: pointer;
}

/*Keahlian*/
.wraper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 200px;
  flex-wrap: wrap;
}

.skill-wraper {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  width: 225px;
}

.skill-wraper h3 {
  margin-top: 0px;
  color: rgb(82, 82, 82);
}

.skill-wraper ul {
  padding-left: 20px;
}

.profil-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}

.gambar {
  margin: 20px;
  object-fit: cover;
  border-radius: 10%;
  width: 250px;
}

.navbar {
  background-color: rgba(61, 61, 61, 0.7);
  position: fixed;
  width: 100%;
  /* text-align: center; */
}

nav a {
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: 1s;
  padding: 20px;
}

nav a:hover {
  color: #f77373;
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

/* BURGER MENU START */
#menu {
  display: flex;
  gap: 15px;
}
.nav-container button {
  display: none;
}

/* Ukuran Tablet */
@media (max-width: 768px) {
  .nav-container button {
    display: block;
  }

  #menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 200px;
    padding: 10px 0px;
  }
  #menu a {
    padding: 10px;
  }
  #menu.show {
    display: flex;
  }
}
/* BURGER MENU END */
